{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
<!--Comentarios en html-->
{% comment 'Datos de la pagina index' %}
En esta página se mostrará la bienvenida al sistema
{% endcomment %}
    <h1 class="title"> Página {{titulo}}</h1>
    <h2> Usando  templates</h2>
    {% if mensaje %}
        <p>Mensaje:{{mensaje}}</p>
    {% else %}
        <strong> El Mensaje no tiene contenido</strong>
    {% endif %}
    {% include 'listado_estudiantesregistrados.html' with encabezado="Estudiantes Registrados"  %} 
    <p><strong>Estudiantes Registrados (Método 01: Imprime lista):</strong></p>
    {{estudiantes}}
    <p><strong>Estudiantes Registrados (Método 02: Imprime lista utilizando for):</strong></p>
    <ul>
        {% for estudiantes in estudiantes %}
        <li> {{forloop.counter}}.{{estudiantes}}</li>
        {%empty%}
        <p>No hay estudiantes registrados </p>
        {% endfor %}
    </ul>
    <p>Año:2022</p>
    {% include 'filtros.html' with encabezado="Uso de Filtros "%}
{% endblock %}